/* Sticky footer flexbox layout */
#root, body, html {
  height: 100%;
  min-height: 100%;
  /* width: 100%; */
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
}

.main-content {
  flex: 1;
  padding-top: 70px;
  /* padding: 4rem 0; */
}

.main-content h1 {
  font-size: 3rem;
  /* color: #fff; */
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.main-content p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 768px) {
  .main-content {
    padding: 2rem 0;
  }
  
  .main-content h1 {
    font-size: 2rem;
  }
  
  .main-content p {
    font-size: 1rem;
  }
}